{{#unless loginLayout}}
  <header>
    <div class="container">
      <h1>Headquarters</h1>

      <nav>
        <img {{bind-attr src="App.currentUser.gravatar"}}>
      </nav>
    </div>
  </header>
{{/unless}}

<div class="container">
  {{outlet}}
</div>
