{{#form-for model id="login"}}
  <h1>Headquarters</h1>
  {{#if error}}
      <div class="error">{{error}}</div>
  {{/if}}
  <div class="field">{{input email placeholder="Email Address" hint="Enter your email"}}</div>
  <div class="field">{{input password placeholder="Password" hint="Enter your password"}}</div>
  <div class="actions">
    <input type="submit" value="Login" class="btn blue"/>
  </div>
{{/form-for}}