<div id="projects">
  <div class="actions">
    <h1>Your Projects</h1>
    {{link-to "New Project" "projects.new" class="btn blue" id="new-project"}}
  </div>

  {{#each project in controller}}
    {{#link-to "project" project class="project"}}
      {{project.name}}
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}
