$max-width: 1040px;

html,body { height: 100%; }

body {
  background: #f0f0f0;
  font-family: 'Helvetica', arial, sans-serif;

  & > .ember-view {
    height: 100%;
  }
}

header {
  background: #343434;
  padding: 5px;

  h1 {
    color: #fff;
    font-size: 28px;
    float: left;

    a {
      color: #fafafa;
      text-decoration: none;
    }
  }

  nav {
    float: right;

    img {
      border-radius: 50%;
      height: 40px;
      margin-top: 6px;
    }
  }
}

#navigation {
  background: #484848;
  color: #fff;
  padding: 8px;
  width: 100%;
}

.container {
  @include outer-container;
  @include pad(0 10px);
}

a {
  cursor: pointer;
}

.placeholder {
  color: #a3a3a3;
}
