$margin-bottom: 10px;
$padding: 15px;

#projects {
  @include row;

  .actions {
    overflow: hidden;

    h1 {
      float: left;

      @include media($portrait) {
        float: none;
        margin-bottom: 0;
      }
    }

    a {
      float: right;

      @include media($portrait) {
        float: none;
        margin-bottom: $margin-bottom;
        text-align: center;
        width: 100%;
      }
    }
  }

  .project {
    @include type-omega(4n);
    @include pad(15px);
    @include span-columns(3);

    background: #fff;
    border-radius: 2px;
    color: #000;
    margin-bottom: $margin-bottom;

    @include media($landscape) {
      @include span-columns(2);
      @include type-omega(2n);
    }

    @include media($portrait) {
      @include span-columns(4);
    }
  }
}
